PORT=3002
JWT_SECRET=change_me_in_env
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=nukunu_solar
DB_USER=nukunu_admin
DB_PASSWORD=nukunu_password
LIVE_APIS_ENABLED=true
LIVE_REQUEST_TIMEOUT_MS=10000
LIVE_WEATHER_CACHE_TTL_MS=600000
LIVE_PVGIS_CACHE_TTL_MS=604800000
LIVE_MARKET_CACHE_TTL_MS=3600000
OPEN_METEO_BASE_URL=https://api.open-meteo.com
PVGIS_BASE_URL=https://re.jrc.ec.europa.eu/api/v5_3
ENTSOE_BASE_URL=https://web-api.tp.entsoe.eu/api
ENTSOE_API_TOKEN=
ENTSOE_BIDDING_ZONE=10YFR-RTE------C
ENTSOE_MARKET_TIMEZONE=Europe/Paris
